{{extend 'layout.html'}}
<h2 align='center'>
<a href='/app2/default/game.html'>
    Play Game
</a>
</h2>
<h2 align='center'>
High Scores
</h2>
<table class="table" align='center'>
    <tr>
            <td>Names</td>
            <td>Time Taken</td>
    </tr>
   {{for i in f:}}
    <tr>
        <td>{{=i.Name}}</td>
        <td>{{=i.Score}}</td>
    </tr>
    {{pass}}
</table>
